<div class="wow bounceIn">
    <h3>使用方法</h3>用空白鍵分隔查詢條件，可以查詢的項目有
    <ul>
        <li>開課單位 <span class="text-danger">ex:哲學系</span> </li>
        <li>課程分類 <span class="text-danger">ex:整開</span>
            <ul>
                <li>PS</li>
                <li>輔系輸入"X輔" <span class="text-danger">ex:日輔</span></li>
                <li>通識可直接輸入<span class="text-danger">"通識"</span>或是特定的通識<span class="text-danger">"人文通識"</span><span class="text-danger"> "跨領域通識"</span><span class="text-danger"> "書院通識"</span></li>
                <li>學成請輸入全稱 <span class="text-danger">ex:華語文教學</span></li>
                <li>傳院不分輸入<span class="text-danger">"傳院不分系"</span>或<span class="text-danger"> "不分系"</span></li>
            </ul>
        </li>
        <li>課程名稱</li>
        <li>教師名字</li>
        <li>星期幾 <span class="text-danger">ex:三</span></li>
        <li>時間 <span class="text-danger">ex:d56</span></li>
        <li>教室 <span class="text-danger">ex:道藩330224</span></li>
    </ul>
</div>
