<div>
    <h3>使用方法</h3>用空白鍵分隔查詢條件，可以查詢的項目有
    <ul>
        <li>開課單位(ex:哲學系) </li>
        <li>課程分類(ex:整開)
            <ul>
                <li>PS</li>
                <li>輔系輸入"X輔" ex:日輔</li>
                <li>通識可直接輸入"通識"或是特定的通識"人文通識" "跨領域通識" "書院通識"</li>
                <li>學成請輸入全稱 ex:華語文教學</li>
                <li>傳院不分輸入"傳院不分系"或"不分系"</li>
            </ul>
        </li>
        <li>課程名稱</li>
        <li>教師名字</li>
        <li>星期幾(ex:三)</li>
        <li>時間(ex:d56)</li>
        <li>教室</li>
    </ul>
</div>
