/*bootstrap setting*/

.row {
    margin-right: 0;
}

.nopadding {
    /* padding: 0 !important;*/
    margin: 0 !important;
}


/*bootstrap setting end*/

#cover {
    background-image: url(../img/bg.jpeg);
    background-size: cover;
}

#cover>div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


/*#cover i {
    vertical-align: middle;
    color: black;
    background-color: white;
    padding: 4px 10px;
    margin-top: 20px;
    margin-right: 20px;
    border: 1px solid #39a1f4;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #888888;
}

#cover i:hover {
    color: rgba(169, 169, 169, 1);
    background-color: rgba(196, 196, 196, 1);
    transition: all 0.3s;
}*/


/*#cover input {
    border: 2px solid #39a1f4;
    width: 20%;
    height: 35px;
    text-align: center;
    box-shadow: 10px 10px 5px #888888;
    transition: all 0.3s;
    border-radius: 8px;
}

#cover input:focus {
    border: 3px solid #39a1f4;
    width: 70%;
    height: 35px;
    transition: all 0.3s;
}*/


/*#cover span {
    color: #0d8aed;
}
*/

.main {
    height: 100vh;
    width: 100vw;
}

.main2 {
    height: 50vh;
    width: 100vw;
    transition: all 0.3s;
}


/*courseDetail*/

#courseDetail {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9487;
    background-color: black;
    display: none;
}

#courseDetail h3 {
    padding: 20px 0;
    background-color: #31b0d5;
    color: white;
    margin-top: 0;
}

#courseDetail .content {
    /*border-radius: 10px;*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#courseDetail .content>div {
    position: relative;
}

#courseDetail .content>div:first-child {
    height: 100%;
    overflow: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#courseDetail .content>div:last-child {
    background-color: #31b0d5;
    height: 35px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#courseDetail .content>div:last-child button {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
}
#courseDetail .content table td:first-child{
    text-align: center;
    width: 30%;
}
#courseResult .title{
    display: none;
}
#resultTable{
    margin-top: 40px;
}
/*.switch{
    display: none;
    transition: all 3s;
}*/

#courseDetail .mask {
    z-index: 9488;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

#courseDetail .content {
    width: 80%;
    height: 70%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9489;
    background-color: #fff;
    color: black;
    /*overflow: auto;*/
}


/*footer*/

#author {
    background-color: #1e1e1e;
    color: white;
}

#author .row {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}
