.nopadding {
    padding: 0;
    margin: 0;
}

#cover {
    background-image: url(../img/bg.jpeg);
    background-size: cover;
}

#cover>div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#cover input{
	border:1px solid red;
	width: 200px;
	height: 25px;
	text-align: center;
	border-radius: 20px;
}
.main {
    height: 100vh;
    width: 100vw;
}

.main2 {
    height: 50vh;
    width: 100vw;
    transition: all 1s;
}
