/*bootstrap setting*/

.row {
    margin-right: 0;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}


/*bootstrap setting end*/

#cover {
    background-image: url(../img/bg.jpeg);
    background-size: cover;
}

#cover>div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#cover input {
    border: 1px solid red;
    width: 200px;
    height: 25px;
    text-align: center;
    border-radius: 20px;
    transition: all 0.3s;
}

#cover input:focus {
    border: 3px solid red;
    width: 350px;
    height: 30px;
    transition: all 0.3s;
}

.main {
    height: 100vh;
    width: 100vw;
}

.main2 {
    height: 50vh;
    width: 100vw;
    transition: all 1s;
}


/*footer*/

#author {
    background-color: #1e1e1e;
    color: white;
}

#author .row {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}
